<div *ngIf="RUData !== null">
    <h3 class="green">User Data Retrieved</h3>
    <button (click)="fillForm()">Fill the Form </button>
</div>
<div style="max-width: fit-content;">
    <h3 *ngIf="RUData === null" class="red"> NO User Data </h3>
    <form [formGroup]="retrievedUserForm" (submit)="onSubmit($event)" class="form">
        <input type="image" name="photo" [src]="retrievedUserForm.get('photo')?.value" formControlName="photo" style="padding: 3px;border: solid skyblue 2px; margin-bottom: 5px;"><br>
        <label for="photo" style="padding:30px; padding-bottom:60px;">Photo</label> <br><br>
        <label for="name">Name : </label> <input type="text" name="name" formControlName="name" ><br>
        <label for="gender">Gender : </label> <input type="text" name="gender" formControlName="gender"><br>
        <label for="email">Email : </label> <input type="text" name="email" formControlName="email"><br>
        <label for="phone">Phone Number : </label> <input type="text" name="phone" formControlName="phone"><br>
        <label for="country">Country : </label> <input type="text" name="country" formControlName="country"><br>
        <button type="submit" [disabled]="!retrievedUserForm.valid" (click)="formSubmit()">Submit</button>
        <button (click)="clearForm()" style="margin-left: 30px;">Clear Form</button>
    </form>
    <h3>{{msg}}</h3>
</div>
